{% load static %}
{% load i18n %}

<!-- Footer Start-->
<footer class="footer">
    <div class="footer-top bg-color ptb--50" data-bg-color="#f6f6f6">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9 text-center">
                    <div class="footer-widget mb--50">
                        <div class="textwidget">
                            <img src="{% static 'assets/img/icons/slavery.png' %}" alt="Logo"
                            style="max-height: 150px; margin-bottom: -15px;">
                        </div>
                    </div>
                    <div class="footer-widget mb--50 pb--1">
                        <ul class="footer-menu">
                            <li><a href="">{% trans 'About us' %}</a></li>
                            <li><a href="">{% trans 'Rules and regulations' %}</a></li>
                            <li><a href="">{% trans 'Contact us' %}</a></li>
                        </ul>
                    </div>
                    <div class="footer-widget">
                        Slavery.shop © | all rights reserved
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End-->